@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KIDS Center</h1>
    <p class="lead">Kids Center is the right place to learn, practice, have fun. Kids Center sets the fundamentals for continous personal development for children, through our various courses.</p>

</div>

